<a class="active item">
          Chat Room
        </a>
        <div class="right menu">
          <%  if user_signed_in? %>
                <div class="ui dropdown item">
                Accounts <i class="dropdown icon"></i>
                <div class="menu">
                    <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"item" %>
                </div>
              </div>
          <% else %>
                <div class="ui dropdown item">
                      Accounts <i class="dropdown icon"></i>
                      <div class="menu">
                        <%= link_to "Login", new_user_session_path, class:"item" %>
                        <%= link_to "Signup", new_user_registration_path, class:"item" %>
                      </div>
                  </div>
          <% end %>
        </div>